{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>
            {% block title %}
                {{ pagetitle|default:"Crowd-Funding" }}
            {% endblock title %}
        </title>
        {% bootstrap_css %}
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home:index' %}">Crowd-Funding</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home:index' %}">Homepage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'projects:create' %}">Start a Campaign</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'authentication:profile' %}">{{ user.username }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'authentication:logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'authentication:register' %}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'authentication:login' %}">Sign In</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% bootstrap_messages %}
            {% block content %}
            {% endblock content %}
        </div>
        {% bootstrap_javascript %}
    </body>
</html>
